## Importing the libraries required.

In [49]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Assigning the right column names and read into the DataFrame.

In [50]:
df = pd.read_csv("dataset.csv", delimiter='^', index_col=0, names=['Open','High','Low','Close','Volume','Market Cap'])
df.head()

,Open,High,Low,Close,Volume,Market Cap
Date,Open,High,Low,Close,Volume,Market Cap
"Jun 22, 2018","6,737.88","6,747.08","6,006.60","6,083.69","5,079,810,000","115,269,000,000"
"Jun 21, 2018","6,780.09","6,810.94","6,715.17","6,729.74","3,529,130,000","115,977,000,000"
"Jun 20, 2018","6,770.76","6,821.56","6,611.88","6,776.55","3,888,640,000","115,804,000,000"
"Jun 19, 2018","6,742.39","6,822.50","6,709.92","6,769.94","4,057,030,000","115,306,000,000"

### Looks like theres's unwanted row at the top!

## Delete the first unwanted row

In [51]:
df = df.iloc[1:,:]
df.head()

,Open,High,Low,Close,Volume,Market Cap
"Jun 22, 2018","6,737.88","6,747.08","6,006.60","6,083.69","5,079,810,000","115,269,000,000"
"Jun 21, 2018","6,780.09","6,810.94","6,715.17","6,729.74","3,529,130,000","115,977,000,000"
"Jun 20, 2018","6,770.76","6,821.56","6,611.88","6,776.55","3,888,640,000","115,804,000,000"
"Jun 19, 2018","6,742.39","6,822.50","6,709.92","6,769.94","4,057,030,000","115,306,000,000"
"Jun 18, 2018","6,510.07","6,781.14","6,446.68","6,734.82","4,039,200,000","111,319,000,000"

### Check for correct column names to see if they're without any extra spaces.

In [47]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap'], dtype='object')

## Convert the text datetime into actual datetime object, which inturn becomes a datetimeindex. This enables to operate the entire row using the index.

In [52]:
df.index = pd.to_datetime(df.index)

In [5]:
df.head()

,Open,High,Low,Close,Volume,Market Cap
Date,,,,,,
2018-06-22,"6,737.88","6,747.08","6,006.60","6,083.69","5,079,810,000","115,269,000,000"
2018-06-21,"6,780.09","6,810.94","6,715.17","6,729.74","3,529,130,000","115,977,000,000"
2018-06-20,"6,770.76","6,821.56","6,611.88","6,776.55","3,888,640,000","115,804,000,000"
2018-06-19,"6,742.39","6,822.50","6,709.92","6,769.94","4,057,030,000","115,306,000,000"
2018-06-18,"6,510.07","6,781.14","6,446.68","6,734.82","4,039,200,000","111,319,000,000"

## Try accessing a row using its date.

In [6]:
df['2018-06-22']

,Open,High,Low,Close,Volume,Market Cap
Date,,,,,,
2018-06-22,"6,737.88","6,747.08","6,006.60","6,083.69","5,079,810,000","115,269,000,000"

## Look at the index contents, just to ensure everything is fine.

In [53]:
df.index

DatetimeIndex(['2018-06-22', '2018-06-21', '2018-06-20', '2018-06-19',
               '2018-06-18', '2018-06-17', '2018-06-16', '2018-06-15',
               '2018-06-14', '2018-06-13',
               ...
               '2013-05-07', '2013-05-06', '2013-05-05', '2013-05-04',
               '2013-05-03', '2013-05-02', '2013-05-01', '2013-04-30',
               '2013-04-29', '2013-04-28'],
              dtype='datetime64[ns]', length=1882, freq=None)

In [54]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap'], dtype='object')

## Looks like dataset is going from latest to old.

In [63]:
df.index

DatetimeIndex(['2018-06-22', '2018-06-21', '2018-06-20', '2018-06-19',
               '2018-06-18', '2018-06-17', '2018-06-16', '2018-06-15',
               '2018-06-14', '2018-06-13',
               ...
               '2013-05-07', '2013-05-06', '2013-05-05', '2013-05-04',
               '2013-05-03', '2013-05-02', '2013-05-01', '2013-04-30',
               '2013-04-29', '2013-04-28'],
              dtype='datetime64[ns]', length=1882, freq=None)

### it is supposed to be going from old to new dates.

#### Sort on the date index.

In [72]:
df = df.sort_index()
df.head()

,Open,High,Low,Close,Volume,Market Cap
2013-04-28,135.30,135.98,132.10,134.21,-,"1,500,520,000"
2013-04-29,134.44,147.49,134.00,144.54,-,"1,491,160,000"
2013-04-30,144.00,146.93,134.05,139.00,-,"1,597,780,000"
2013-05-01,139.00,139.89,107.72,116.99,-,"1,542,820,000"
2013-05-02,116.38,125.60,92.28,105.21,-,"1,292,190,000"

## Start checking every column

In [82]:
df.iloc[:,:1].values[0]

array(['     135.30'], dtype=object)