In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("dataset.csv",delimiter='^',index_col=0)
df.head()

,Open,High,Low,Close,Volume,Market Cap
Date,,,,,,
"Jun 22, 2018","6,737.88","6,747.08","6,006.60","6,083.69","5,079,810,000","115,269,000,000"
"Jun 21, 2018","6,780.09","6,810.94","6,715.17","6,729.74","3,529,130,000","115,977,000,000"
"Jun 20, 2018","6,770.76","6,821.56","6,611.88","6,776.55","3,888,640,000","115,804,000,000"
"Jun 19, 2018","6,742.39","6,822.50","6,709.92","6,769.94","4,057,030,000","115,306,000,000"
"Jun 18, 2018","6,510.07","6,781.14","6,446.68","6,734.82","4,039,200,000","111,319,000,000"

In [15]:
df.index

Index(['Jun 22, 2018', 'Jun 21, 2018', 'Jun 20, 2018', 'Jun 19, 2018',
       'Jun 18, 2018', 'Jun 17, 2018', 'Jun 16, 2018', 'Jun 15, 2018',
       'Jun 14, 2018', 'Jun 13, 2018',
       ...
       'May 07, 2013', 'May 06, 2013', 'May 05, 2013', 'May 04, 2013',
       'May 03, 2013', 'May 02, 2013', 'May 01, 2013', 'Apr 30, 2013',
       'Apr 29, 2013', 'Apr 28, 2013'],
      dtype='object', name='Date', length=1882)

In [19]:
df.index = pd.to_datetime(df.index)

In [20]:
df.head()

,Open,High,Low,Close,Volume,Market Cap
Date,,,,,,
2018-06-22,"6,737.88","6,747.08","6,006.60","6,083.69","5,079,810,000","115,269,000,000"
2018-06-21,"6,780.09","6,810.94","6,715.17","6,729.74","3,529,130,000","115,977,000,000"
2018-06-20,"6,770.76","6,821.56","6,611.88","6,776.55","3,888,640,000","115,804,000,000"
2018-06-19,"6,742.39","6,822.50","6,709.92","6,769.94","4,057,030,000","115,306,000,000"
2018-06-18,"6,510.07","6,781.14","6,446.68","6,734.82","4,039,200,000","111,319,000,000"

In [21]:
df['2018-06-22']

,Open,High,Low,Close,Volume,Market Cap
Date,,,,,,
2018-06-22,"6,737.88","6,747.08","6,006.60","6,083.69","5,079,810,000","115,269,000,000"